In [3]:
import json
import numpy as np
import pandas as pd

In [9]:
# f = open('profiles_2021-11-10.json', encoding='utf-8')
# d = json.load(f)

In [4]:
df = pd.io.stata.read_stata("test.dta")
df

,caseid_new,xw6_year,xw6_month,xw6_last,xw6_marry,w6_still_mar,w6_live_together,w6_otherdate,w6_how_many,w6_otherdate_app,...,w6_met_through_as_coworkers,w6_met_online_dating,w6_met_bar_restaurant,w6_how_met_story_length,w6_combo_live_together,w6_otherdate_combo,w6_how_many_combo,w6_otherdate_app_combo,w6_how_many_app_combo,w6_HCMST_yrmo
0,22526,2014,December,3,unmarried partners,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
1,28536,2014,December,3,unmarried partners,NaN,NaN,NaN,NaN,NaN,...,no,no,no,6,yes,"Yes, I have met at least one person for dating...",Six to Twenty people. I met between six and tw...,"Yes, I have used a phone dating app in the pas...","Two to Five people. Using phone apps, I met be...",201707
2,29584,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,NaN,...,NaN,NaN,NaN,0,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
3,48225,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,NaN,...,NaN,NaN,NaN,0,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
4,49731,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,NaN,...,NaN,NaN,NaN,0,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,4563631,2014,November,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,NaN,...,NaN,NaN,NaN,0,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
636,4583501,2015,March,2,married,No,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0,no,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201708
637,4597381,2013,March,4,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,NaN,...,NaN,NaN,NaN,0,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
638,4613511,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,NaN,...,NaN,NaN,NaN,0,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707
639,4621371,2014,December,3,married,Yes,Yes,"No, I have not met anyone for dating, romance,...",NaN,NaN,...,NaN,NaN,NaN,0,yes,"No, I have not met anyone for dating, romance,...",met no people,NaN,NaN,201707